body {
    font-family:"ヒラギノ角ゴ pro W6c","メイリオ","MSゴシック";
}

.pic1 img{
    width:450px;
}

header{
    width:100%;
    height:60px;
    background-color:black;
}

header ul{
    list-style:none;
    line-height:60px;
}

header ul li{
    float:left;
    padding-right:50px;
    padding-left:10px;
    color:white;
}

.submit{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color:#919191;
    border-radius:5px;
    border-bottom:solid 2px #4f4f4f;
}


.left{float:left;
     width:70%;
     padding-left:3px;
     background-color:white;
}

h1{border-left:4px solid black;
    border-bottom:3px solid gray;
     padding-left:0.3em;
    
}

.box1{width:97%;
      height:480px;
      padding-left: 10px;
      padding-top:10px;
      background-color:#f1f1f1;
      border:3px solid #ededed;
      margin:0 auto;
    
}

.box1 h2{
    border-left:4px solid red;
    padding-right: 2em;
}






.box2{width:96%;
      padding:10px 10px 10px 10px;
      background-color:#f1f1f1;
      border:3px solid #ededed;
}

.box2 h2{
     border-bottom: 4px solid #ededed;
}





.right{float:left;
       width:25%;
       padding-left:30px;
       padding-top:17px;
       background-color:white;
}

.right ul li{
    list-style:none;
}

.right h2{
   border-bottom:2px dashed black; 
}






footer{display:inline-block;
    clear:left;
    width:100%;
    margin-top: 15px;
    background-color:black;
    color:white;
    text-align: center;
    line-height: 60px;
    
}
